@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: white;
    /* background-color: #1c2833; */
    /* text-align: center; */

}

.header {
    position: relative;
     background-color:  #173F5F;
}
nav{
    display: flex;
    padding: 0% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 75px;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px; 
    background: tomato;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}


body {
    background: url("../images/home3.jpg");
    /* background-size: 1000px;
    background-repeat: no-repeat; */
    background-size: cover;
    height: 90vh;
    background-position: 0px -160px;


}


input {
    color: black;

}

button a {
    color: white;
}

a {
    text-decoration: none;
}

input {
    padding: 45px;
    padding-right: 250px;
}   
input::placeholder {
    text-align: left;
}

.add {
    background-color:  #5995fd;
    color: white;
    border-radius: 15px;
    height: 60px;
    width: 300px;
    margin-top: 20px;
    /* text-align: center; */
}

.cancel {
    background-color:  tomato;
    color: white;
    border-radius: 15px;
    margin-top: 20px;
    height: 60px;
    width: 300px;
    /* text-align: center; */
}

/* 
.container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    padding-top: 25px;
    background-color: rgba(0, 0, 0, 0.8);
    width: 400px;
    height: fit-content;
    border: 2px solid black;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: -3px -3px 7px #ffffff73 3px 3px 5px rgba(94, 104, 121, 0.288);
    border-radius: 5px;
}
 */

.container {
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 300px;
    text-align: center;
    padding: 50px;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: -3px -3px 7px #ffffff73 3px 3px 5px rgba(94, 104, 121, 0.288);
}

.wrapper {
    display: grid;
    place-content: center;
}

/* 
input {
    border: none;
    background-color: #EEEEEE;
    border-bottom: 1px solid #0082e6;
    display: block;
    background: none;
    color: white;
    font-size: 20px;
    font-weight: 300px;
    width: 300px;
}

input:focus {
    border-bottom: 2px solid #3498db;
    color: #3498db;
    transition: 0.2s;
} */

/* 
h1 {
    text-align: center;
    margin-top: 65px;
    font-family: 'Roboto';
} */

/* 
a {
    text-decoration: none;
}

button {
    font-size: 16px;
    margin-bottom: 20px;
} */