<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" type="image/x-icon" href="/images/favicon.svg">
  <link rel="stylesheet" href="/css/add_problem.css" type="text/css" />
  <title>ADD PROBLEM</title>
</head>

<body>
    <section class="header">
        <nav>
            <a href="/route/logout"><img src="/images/logo.png"> </a>
            <div class="nav-links" id="navLinks">
                <!-- <i class="fa fa-times" onclick="hideMenu()"></i> -->
                <!-- <i class="fa fa-times" aria-hidden="true"></i> -->
                <ul>
                    
                    <li><a href="/route/from_profile">HOME</a></li>
                    <li><a href="/route/standings">STANDING</a></li>
                    <li><a href="/route/all">VIEW ALL</a></li>
                    <li><a href="/route/logout">LOGOUT</a></li>
                    <!-- <li><a href="login.html">LOGIN</a></li> -->
                    <li><a href="">ABOUT</a></li>
                </ul>
            </div>
            <!-- <i class="fa fa-bars" onclick="showMenu()"></i> -->
            <!-- <i class="fa fa-bars" aria-hidden="true"></i> -->
        </nav>
    </section>

    <div class="wrapper">
        <div class="container">
          <form action="/route/problem_added" method="POST">
            <input type="hidden" name="studentID" value="" />
            <h1>ADD PROBLEM IN YOUR PROFILE</h1>
            <br />
            <p>
            </p>
            <div class="edit1">
              <input type="text" name="problem" placeholder="Add Problem Link" />
              <br />
            </div>
            <br />
            <button class="add">Add Porblem</button>
          </form>
          <br />
          <button class="cancel"><a href="">Cancel</a></button>
        </div>
      </div>
     
    
</body>

</html>